<ion-header>
  <ion-toolbar>
    <ion-title>Jumanji</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title class="letra">Sinopse</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Quatro adolescentes que estão de castigo depois das aulas encontram um console de videogame antigo com um jogo que nunca tinham ouvido falar.
    Quando decidem jogar, são imediatamente sugados para dentro de uma selva, para o mundo de Jumanji, onde assumem os corpos dos seus avatares.
    Eles têm que ir até o fim da maior aventura de suas vidas, recheada de diversão, emoções e perigos, ou ficarão para sempre dentro do jogo!
  </ion-card-content>
</ion-card>

<h3>Elenco Principal</h3>
<ion-content>
  <ion-item >
  <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/kuqFzlYMc2IrsOyPznMd1FroeGq.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Dwayne Douglas Johnson</ion-label>
  </ion-item>

  <ion-item >
    <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/rtCx0fiYxJVhzXXdwZE2XRTfIKE.jpg" />
      </ion-thumbnail>
      <ion-label class="letra">Thomas Jacob "Jack" Black</ion-label>
    </ion-item>

    <ion-item >
      <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/7OwsFfoxNGIfWwSmdORyB7v8XNj.jpg" />
        </ion-thumbnail>
        <ion-label class="letra">Kevin Darnell Hart</ion-label>
      </ion-item>

      <ion-item >
        <ion-thumbnail slot="start">
            <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/yNBvao019dUKvYF1qzCY6Nsw6Vv.jpg" />
          </ion-thumbnail>
          <ion-label class="letra">Karen Sheila Gillan</ion-label>
        </ion-item>
        <ion-item >
          <ion-thumbnail slot="start">
              <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/o0BVIpLe8VnCkTuLsk5ObcQmRJr.jpg" />
            </ion-thumbnail>
            <ion-label class="letra">Nicholas Jerry Jonas</ion-label>
          </ion-item>
          <ion-item >
            <ion-thumbnail slot="start">
                <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/gYQwTbEj5IBPYKLGKgrsNGrWAMl.jpg" />
              </ion-thumbnail>
              <ion-label class="letra">Robert M. "Bobby" Cannavale</ion-label>
            </ion-item>
            <ion-item >
              <ion-thumbnail slot="start">
                  <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/4INvD4RYdjGCznboNgdyfWA6dpG.jpg" />
                </ion-thumbnail>
                <ion-label class="letra">Ser´Darius Blain</ion-label>
              </ion-item>
              <var><ion-item >
                <ion-thumbnail slot="start">
                    <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/dsyANGd3zY1aDTeJLKnPxmrY3iy.jpg" />
                  </ion-thumbnail>
                  <ion-label class="letra">Madison Iseman</ion-label>
                </ion-item></var>

                <ion-item >
                  <ion-thumbnail slot="start">
                      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/oIpJr6lOOwixCGfpcTT42n7VKsO.jpg" />
                    </ion-thumbnail>
                    <ion-label class="letra">Morgan Turner</ion-label>
                  </ion-item>
</ion-content>
