<ion-header>
  <ion-toolbar>
    <ion-title>Órfã</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Sinopse</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Lena Klammer orquestra uma fuga brilhante de uma unidade psiquiátrica russa e viaja para os Estados Unidos, representando a filha desaparecida de uma família rica. Mas a nova vida de Lena como "Esther" vem com uma ruga inesperada e a coloca contra uma mãe que protegerá sua família a qualquer custo.
  </ion-card-content>
</ion-card>

<h3>Elenco Principal</h3>
<ion-content>
  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/borthNRiTGa7oKZjLKHuUGUrZdq.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Isabelle Fuhrman</ion-label>
  </ion-item>

  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/9PJ6G5begxnZkkwvqZqMs0Iwn5o.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Julia O'Hara Stiles</ion-label>
  </ion-item>

  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/25N7FFIGuPxSTCMqe0vrywzPwnv.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Rossif Sutherland</ion-label>
  </ion-item>

  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/eAyxxChemfnTDcWOFNDXxr5Zeh8.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Matthew Finlan</ion-label>
  </ion-item>

  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/dyWOPJmZTfy3r3R5eDY2d7yf8Ze.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Hironobu Kanagawa</ion-label>
  </ion-item>

  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/hs7W2su2cbgmrzuQACAIU4zlbur.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Samantha Walkes</ion-label>
  </ion-item>
  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/aQEVuW5IWam68nWajc7ij6xTyoN.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">David Brown</ion-label>
  </ion-item>
  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/haOurV7B4Vh35TousTqNtwHnDfm.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Lauren Cochrane</ion-label>
  </ion-item>


  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/rd2RHG9lj8fAE0HpwX1CZDNx9Pu.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Gwendolyn Collins</ion-label>
  </ion-item>
</ion-content>
