<ion-header>
  <ion-toolbar>
    <ion-title>Telefone Preto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Sinopse</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Após ter sido raptado por um assassino de crianças e trancado numa cave à prova de som, Finney Shaw um menino de 13 anos começa a receber chamadas num telefone desligado das vítimas anteriores do assassino. E eles estão determinados a garantir que o que aconteceu com eles não aconteça com Finney.
  </ion-card-content>
</ion-card>
<ion-content>
  <h3>Elenco Principal</h3>
  <ion-item >
    <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/qLJm1n615JinCuizZSxbZiVtEr8.jpg" />
      </ion-thumbnail>
      <ion-label class="letra">Mason Thames</ion-label>
    </ion-item>

    <ion-item >
      <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/a7rgJl8TYUWAfJuM4fxbLHgD7BL.jpg" />
        </ion-thumbnail>
        <ion-label class="letra">Ethan Green Hawke </ion-label>
      </ion-item>

      <ion-item >
        <ion-thumbnail slot="start">
            <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/A2bPFawjQMC0Tv79WyVY9oiFfsN.jpg" />
          </ion-thumbnail>
          <ion-label class="letra">Madeleine McGraw</ion-label>
        </ion-item>

        <ion-item >
          <ion-thumbnail slot="start">
              <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/y9GhiLVrVFkJqs0wXqJTcvpOBLb.jpg" />
            </ion-thumbnail>
            <ion-label class="letra">Jeremy Davies</ion-label>
          </ion-item>

          <ion-item >
            <ion-thumbnail slot="start">
                <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/qdcwrdA1IYvuRe0A2abSvzVLZVS.jpg" />
              </ion-thumbnail>
              <ion-label class="letra">E. Roger Mitchell</ion-label>
            </ion-item>

            <ion-item >
              <ion-thumbnail slot="start">
                  <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/2hS7AG0p5QtVU4PnRco9LMH714W.jpg" />
                </ion-thumbnail>
                <ion-label class="letra">Troy Rudeseal</ion-label>
              </ion-item>

              <ion-item >
                <ion-thumbnail slot="start">
                    <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/n1O0RnxKPfxvVJUh13Gr0pPGlvd.jpg" />
                  </ion-thumbnail>
                  <ion-label class="letra">James Finley Ransone</ion-label>
                </ion-item>

                <ion-item >
                  <ion-thumbnail slot="start">
                      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/pfeV052o2TzCJR1MDz9FcEbFbzd.jpg" />
                    </ion-thumbnail>
                    <ion-label class="letra">Miguel Cazarez Mora</ion-label>
                  </ion-item>

                  <ion-item >
                    <ion-thumbnail slot="start">
                        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/9HM6xruwGVXFwhJInVNMscJcI0x.jpg" />
                      </ion-thumbnail>
                      <ion-label class="letra">Rebecca Clarke</ion-label>
                    </ion-item>

</ion-content>
