<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="letra">
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item routerLink="/jumanji">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/uT1pHr90KqQGMucv7YgyPdxhMiC.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Jumanji: Bem-Vindo à Selva (2017)</ion-label>
  </ion-item>

  <ion-item routerLink="/orfa">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/uRdpVgEufzYNVnDPTXEjt0mpD99.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Órfã 2: A Origem (2022)</ion-label>
  </ion-item>

  <ion-item routerLink="/telefone-preto">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/yw6H4C64tjBWlyKFG1pzmq5zOQh.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">O Telefone Preto (2022)</ion-label>
  </ion-item>

  <ion-item routerLink="/avatar">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/2QlRq0MEx8IEODKNbGZyu3Sz5UV.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Avatar (2009)</ion-label>
  </ion-item>

  <ion-item routerLink="/exorcismo-sagrado">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/7y181pPW5P6xhcEbAVTv01bVJov.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Exorcismo Sagrado (2022)</ion-label>
  </ion-item>

  <ion-item routerLink="/minions">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/iTP3mMw0AoqmScYzDoMmYeKxYe.jpg" />
    </ion-thumbnail>
    <ion-label class="letra">Minions 2: A Origem de Gru (2022)</ion-label>
  </ion-item>

</ion-content>
